:root {
    --colorMoradoAzul: #312780;
    --colorAzulClaro: #2475b6;
}


.colorP{
    color: var(--colorMoradoAzul) !important;
}


#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--colorMoradoAzul) !important;
}

.portfolio-link img{
    min-height: 270px;
}

.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--colorAzulClaro) !important;
}

section#contact {
    background-color: var(--colorAzulClaro) !important;
}

.masthead-subheading, .nav-item{
    font-weight: bold;
}