:root {
    --colorMoradoAzul: #312780;
    --colorAzulClaro: #2475b6;
}


.colorP {
    color: var(--colorMoradoAzul) !important;
}


#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--colorMoradoAzul) !important;
}

.portfolio-link img {
    min-height: 270px;
}

.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--colorAzulClaro) !important;
}

section#contact {
    background-color: var(--colorAzulClaro) !important;
}

.masthead-subheading,
.nav-item {
    font-weight: bold;
}

#pCorreo {
    word-wrap: break-word;
    /* Permite que las palabras largas se dividan y envuelvan en la siguiente línea */
    overflow-wrap: break-word;
    /* Alternativa a word-wrap, es más estándar */
    word-break: break-all;
    /* Rompe las palabras largas en cualquier punto para ajustarlas */
    max-width: 100%;
    font-size: 1.4rem;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--colorAzulClaro) !important;
  }


/*donacione*/  
#cardDonaciones{

    background-color: #EEEEEE;
}

.icon-30 { font-size: 30px; }
.icon-50 { font-size: 50px; }
.icon-100 { font-size: 100px; }

.centrar-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

#tituloDonacion{
    font-weight: bold;
}


